@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --orangeButton: #FFAA69;
    --orange: #F49750;
    --actionButton: #E27F34;
    --beige:#FFF5DA;
    --white: #FFFFFF;
    --brown: #431A10;
    --darkBrown: #2C1612;
    --Inter: 'Inter', 'sans-serif;'
  
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
  font-size: 16px;
}

p{
  font-family: var(--Inter);
}


.modal{
    display: none;
    background-color: rgba(54, 20, 5, 0.705);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    justify-content: center;
    align-items: center;
}
.modal_dialog{
   background-color: var(--white);
   width: 800px;
   height: 400px;
   border-radius: 3rem;
   padding: 2rem;
}
.modal-open {
    display:flex;
}

.closeIcon{
    font-size: 2rem;
    color: var(--darkBrown);
    border: none;
    background-color: transparent;
}

.titleModalContainer{
    display: flex;
    justify-content:space-between;
}
