:root {
  --orangeButton: #ffaa69;
  --orange: #f49750;
  --actionButton: #e27f34;
  --beige: #fff5da;
  --white: #ffffff;
  --brown: #431a10;
  --darkBrown: #2c1612;
  --Inter: "Inter", "sans-serif;";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.cardContainer {
  /* background-color: cadetblue; */
  display: flex;
  justify-content: space-around;
}

/* div con el menu */
.cardMenu {
  width: auto;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.card {
  background-color: var(--white);
  width: 210px;
  height: 180px;
  margin: 0.9rem;
  padding: 0.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cardContainerMenu {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--beige);
}
.card:hover {
  box-shadow: 4px 6px 17px rgba(41, 16, 2, 0.109);
}

.imgMenu {
  margin: 0.5rem;
  width: 3.4rem;
}

.textProduct {
  font-weight: 500;
  color: var(--darkBrown);
}

.textPrice {
  color: var(--brown);
}

.descriptionProduct {
  display: flex;
  flex-direction: column;
}

.buttonAddProduct {
  background-color: var(--orangeButton);
  width: 10rem;
  height: 2rem;
  border-radius: 18px;
  border: none;
  color: var(--darkBrown);
  font-size: 1rem;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.buttonAddProduct:hover {
  background-color: var(--orange);
}

/* div con las ordenes */
.cardOrder {
  width: 30%;
  height: 60vh;
  background-color: var(--beige);
}

.containerNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/** Estilos de CardOrder.js  */
.containerFormOrder {
  /* background-color: blue; */
  padding: 0.8rem;
}

.containerOneOrder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 4rem;
}

.textOrderTitle {
  font-weight: bolder;
}

.inputNameClient {
  background-color: var(--white);
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 1.6rem;
}

.containerProductsOrder {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.addQtyButton{
background-color: rgb(158, 157, 157);
}

.restQtyButton{
  background-color: rgb(68, 68, 68);
  }

.qtyContainer{
  display: flex;
  width: 4rem;
  background-color: var(--white);
}
/** Vista de Estado de Pedido */
/* tabla container */
.title {
  font-size: 1.4rem;
}
